/* @override
	http://localhost:8000/css/main.css */

body {
	background-color: #fff ;
	font: 16px/150% Menlo, Monaco, Courier, mono;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	
}

a {
	color: #b1c7e6;
}

h1 {
	text-indent: -1000px;
	overflow: hidden;
	margin: 0;
}

#content {
	width: 461px;
	position: absolute;
	top: 0px;
	left: 50px;
	background-color: #fff;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	padding: 50px 10px 0;
}

dl{
	margin: 0;
}
dt {
	float: left;
	clear: left;
	width: 175px;
	padding: 0;
	font-weight: bold;
}
dt::after {
	content: ':';
}

dd {
	margin: 0;
	display: inline-block;
	float: right;
	width: 286px;
	text-align: right;
}

dt, dd {
	border-top: 1px solid rgba(231, 231, 230, 0.59);
}



#soundcloud {
	height: 367px;
	clear: none;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 1px;
}

