!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
	html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
	//<![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Buff as Fuck by Transept, 2013
		meta(name='description', content='Buff As Fuck, released 25 March 2013, is the second album by Transept.')
		meta(name='keywords', content='Buff As Fuck, Transept, Luke Abbott, Rashad Becker, Norfolk, Norwich band, music')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='css/screen.css')
		script(src='js/vendor/modernizr-2.6.1-respond-1.1.0.min.js')
	body
		//if lt IE 9
			p.chromeframe
				| You are using an outdated browser.
				a(href='http://browsehappy.com/') Upgrade your browser today
				| or
				a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
				| to better experience this site.
		h1
			em Buff as Fuck
			| by Transept
		#content
			h2 Cat. TRSPT002
			#purchase
				ul
					li
						h3 CD
							small £9.99
						p Comes with unique, hand mono-printed artwork.
						button(onclick="location='http://transept.bigcartel.com/product/buff-as-fuck-c-d'") Preorder
					li 
						h3 LP
							small £14.99
						p Comes on clear, frosted vinyl with unique, hand mono-printed artwork. Includes free download in 24-bit FLAC or high quality MP3.
						button(onclick="location='http://transept.bigcartel.com/product/buff-as-fuck'") Preorder
					li
						h3 DL
							small £4.99
						p Available in 24-bit FLAC or high quality MP3.
						button(onclick="location='http://transept.bandcamp.com/album/buff-as-fuck'") Preorder
			dl
				dt Artist
				dd
					a(href='http://trspt.net') Transept
				dt Title
				dd Buff as Fuck
				dt Label
				dd
					a(href='http://dronehenge.com') Dronehenge Recordings
				dt Release date
				dd 25 March, 2013
				dt Mixed
				dd
					a(href='http://lukeabbottmusic.com') Luke Abbott
				dt Mastered
				dd
					a(href='http://www.clunk.de') Rashad Becker
				dt Formats
				dd 
					a(href="http://transept.bigcartel.com/product/buff-as-fuck-c-d") CD
					|  / 
					a(href="http://transept.bigcartel.com/product/buff-as-fuck") LP
					|  / 
					a(href="http://transept.bandcamp.com/album/buff-as-fuck") DL
				dt PR
				dd
					a(href='mailto:sean@mutante.co.uk') sean@mutante.co.uk
				dt Press release
				dd
					a(href='https://www.dropbox.com/s/6llr05cyu8iikn3/press%20release.txt') press%20release.txt
				dt Press shots
				dd
					a(href='https://www.dropbox.com/sh/9uwzsezxv7fg3dg/UDgTBMI5Mm?lst') 3 images
				dt Artwork
				dd
					a(href='https://www.dropbox.com/s/th49nhmj9cva6dm/baf_digital_1400.jpg') high
					| &nbsp;/&nbsp;
					a(href='https://www.dropbox.com/s/bybpy546vybi2gr/baf_digital_400.jpg') low
			iframe#soundcloud(scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F1166178%3Fsecret_token%3Ds-GSrTJ&auto_play=false&show_artwork=true')
			iframe.video(src='http://player.vimeo.com/video/59569178', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen', style='height:235px')
			iframe.video(src='http://player.vimeo.com/video/52951623', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
			iframe.video(src='http://player.vimeo.com/video/57008386', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
			//- iframe src="http://player.vimeo.com/video/57008386?color=b1c7e6" height="216" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script
			window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\\/script>')
		script
			$(function(){
			if(((window.innerWidth > 0) ? window.innerWidth : screen.width) > 480){
			var _pos = function(){return 100 - Math.ceil(Math.random()*200)};
			$('body').css({
			'background' :
			'url("/img/bg/blue-' + Math.ceil(Math.random()*5) + '.png") no-repeat ' + _pos() + '% ' + _pos() + '%, ' +
			'url("/img/bg/blue-' + Math.ceil(Math.random()*5) + '.png") no-repeat ' + _pos() + '% ' + _pos() + '%, ' +
			'url("/img/bg/pink-' + Math.ceil(Math.random()*5) + '.png") no-repeat ' + _pos() + '% ' + _pos() + '%, ' +
			'url("/img/bg/pink-' + Math.ceil(Math.random()*5) + '.png") no-repeat ' + _pos() + '% ' + _pos() + '%'
			})
			}
			})
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36463064-1']);
			_gaq.push(['_setDomainName', 'buffasfuck.me']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
